<div class="p-3 mx-auto text-center">
    <h1 class="display-4">{{pageName}}</h1>
</div>

<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card shadow-sm p-4">

                    {{#if errors}}
                        <div class="alert alert-danger">
                            {{#each errors}}
                                <i class="fas fa-warning"></i> {{ this.msg }} <br>
                            {{/each}}
                        </div>
                    {{/if}}

                    <form method="post">

                        <!-- Prénom -->
                        <div class="form-group">
                            <label>Prénom</label>
                                <input {{#with (ifIn errors "param" "prenom")}}
                                    class="form-control is-invalid"
                                {{ else }}
                                    class="form-control"
                                {{/with}}
                                   value="{{ body.prenom }}"
                                   name="prenom" placeholder="Prénom." type="text">
                            {{#with (ifIn errors "param" "prenom")}}
                                <div class="invalid-feedback">
                                    {{ msg }}
                                </div>
                            {{else}}
                                <small class="form-text text-muted">
                                    Saisissez le prénom du contact.
                                </small>
                            {{/with}}
                        </div>

                        <!-- Nom -->
                        <div class="form-group">
                            <label>Nom</label>
                            <input {{#with (ifIn errors "param" "nom")}}
                                class="form-control is-invalid"
                                {{ else }}
                                class="form-control"
                                {{/with}}
                                   value="{{ body.nom }}"
                                   name="nom" placeholder="Nom." type="text">
                            {{#with (ifIn errors "param" "nom")}}
                                <div class="invalid-feedback">
                                    {{ msg }}
                                </div>
                            {{else}}
                                <small class="form-text text-muted">
                                    Saisissez le nom du contact.
                                </small>
                            {{/with}}
                        </div>

                        <!-- Email -->
                        <div class="form-group">
                            <label>Email</label>
                            <input {{#with (ifIn errors "param" "email")}}
                                class="form-control is-invalid"
                                {{ else }}
                                class="form-control"
                                {{/with}}
                                   value="{{ body.email }}"
                                   name="email" placeholder="Email." type="text">
                            {{#with (ifIn errors "param" "email")}}
                                <div class="invalid-feedback">
                                    {{ msg }}
                                </div>
                            {{else}}
                                <small class="form-text text-muted">
                                    Saisissez l'email du contact.
                                </small>
                            {{/with}}
                        </div>

                        <!-- Téléphone -->
                        <div class="form-group">
                            <label>Téléphone Mobile</label>
                            <input {{#with (ifIn errors "param" "tel")}}
                                class="form-control is-invalid"
                                {{ else }}
                                class="form-control"
                                {{/with}}
                                   value="{{ body.tel }}"
                                   name="tel" placeholder="Téléphone." type="tel">
                            {{#with (ifIn errors "param" "tel")}}
                                <div class="invalid-feedback">
                                    {{ msg }}
                                </div>
                            {{else}}
                                <small class="form-text text-muted">
                                    Saisissez le numéro de mobile du contact.
                                </small>
                            {{/with}}
                        </div>

                        <!-- Submit -->
                        <button class="btn btn-block btn-dark">
                            <i class="fas fa-pen-square"></i>
                            {{pageName}}
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
